@import "variables";

/* Text Preset 1 */
.text-preset-1 {
  font-family: "Inter", sans-serif;
  font-size: 2.4rem;
  line-height: 3.6rem;
  letter-spacing: 0;
  font-weight: 600;
}

/* Text Preset 2 */
.text-preset-2 {
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  line-height: 2.1;
  letter-spacing: 0;
  font-weight: 400;
}

/* Text Preset 2 (Bold) */
.text-preset-2-bold {
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  line-height: 2.1;
  letter-spacing: 0;
  font-weight: 700;
  color: var(--color-green);
}
